@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AdobeCleanRegular';
  src: local('AdobeCleanRegular'), url(./Font/AdobeCleanRegular.otf) format('otf');
}

/* no-scrollbar */
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* customized scrollbar */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 30px;
  height: 5px;
  background-color: none;
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  background-clip: padding-box;
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
}
